<div class="container mt-5">
  <table class="table" id="clients-datatable" data-source="<%= main_index_path(format: :json) %>">
    <thead>
    <tr>
      <th>user_name</th>
      <th>email</th>
      <th>Created at</th>
      <th>homepage</th>
      <th>message</th>
      <th>IP</th>
      <th>Browser</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
